DATABASE_URL=jdbc:postgresql://postgres.railway.internal:5432/railway
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password_rahasia
TELEGRAM_BOT_TOKEN=8898148128:AAFu6yjVEUXUg3zgwm3s3ojx-JT5NhGK9zA
TELEGRAM_BOT_USERNAME=lingz_finance_bot
SPRING_PROFILES_ACTIVE=prod
