DATABASE_URL=jdbc:postgresql://postgres.railway.internal:5432/railway
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password_rahasia
TELEGRAM_BOT_TOKEN=8932376045:AAFs6yMDR0oBphq3VcTD4QKwIj0GR4t2zVw
TELEGRAM_BOT_USERNAME=production99_lingz_bot
SPRING_PROFILES_ACTIVE=prod
